body {

    padding-left: 30%;
    background-repeat: no-repeat;
    background-size: cover;

}
.container {
    margin-top: 50px;
    width: 60%;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(225,225,225, 0.5);
}
.header {
    text-align: center;
    color: black;
    font-size: 30px;
    margin-bottom: 30px;
}
input{
    width:90%;
}
#text{
    padding: 10px;
    border-radius: 5px;
    background-color: #F2F2F2;
    font-size: 14px;
    margin-bottom: 20px;
}
#btn{
    border-radius: 5px;
    background-color: green;
    color: #bdb5b5;
    font-size: 20px;
    padding: 20px;
    align-self: center;
}
.result {
    margin-top: 20px;
    font-size: 24px;
}
.btn{
    margin-left: 200px;
}
p{
  font-size: small; 
}